@charset "UTF-8";

body {

    font-family: arial;
    /*
    Medidas Absolutas
    cm, mm, in(polegadas), px, pt, pc

    Medidas Relativas
    em, ex, rem, vw, vh, %
    16px geralmente = 1em
    "use px e em"
    */
    font-size: 1em;

}
h1{

    font-family: 'Times New Roman', Times, serif;
    
}
h2{

    font-family:  sans-serif;
}