@charset "UTF-8";



body{
    background-image: linear-gradient(to right, #134001,#0A2600);

}

main{
    background-color:  #141414;
    width: 700px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(20, 20, 20);
}
code {

    color: #48ff00;
}
h1 {

    color: #51ff00;
    text-align: center;
    
}
img {
    
}
